@charset "UTF-8";

.content {
  height: 500px;
}

.image {
  background: url(/Users/nakamuratakuyume/LayoutParts-Part2/q8/image/coffee-background.jpg);
}

.image2 {
  background: url(/Users/nakamuratakuyume/LayoutParts-Part2/q8/image/coffee-background.jpg) no-repeat;
}

.image3 {
  background: url(/Users/nakamuratakuyume/LayoutParts-Part2/q8/image/coffee-background.jpg)no-repeat center/cover;
}

.image4 {
  background: url(/Users/nakamuratakuyume/LayoutParts-Part2/q8/image/coffee-background.jpg) no-repeat center/contain;
}

