@charset "UTF-8";

a {
  text-decoration: none;
}

header {
  width: 100%;
  background: #388bff;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header-left a {
  font-size: 26px;
  font-weight: bold;
  color: #f2ff7d;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav li {
  list-style: none;
  padding: 30px;;
}

.header-nav li a {
  color: #fff;
}